<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h2>Lista de estados</h2>
        <a th:href="@{nuevoestado}">Nuevo Estado</a>
        <br/>
        <br/>
        <div th:if="${estados != null and !estados.empty}">
            <table border="1">
                <thead>
                <th>Nombre del Estado</th>
                <th>Capital</th>
                <th>Poblacion</th>
                <th colspan="2">Acciones</th>
                </thead>
                <tbody>
                    <tr th:each="item : ${estados}">
                        <td th:text="${item.nombreEstado}"></td>
                        <td th:text="${item.capital}"></td>
                        <td th:text="${item.poblacion}"></td>
                       
                        <td><a th:href="@{/modificarEstado/}+${item.idEstado}">Modificar</a></td>
                        <td><a th:href="@{/eliminarCliente/}+${item.idEstado}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${estados == null or estados.empty}">
            la lista de estados esta vacia...
        </div>
        
    </body>
</html>